/*html, body {*/
/*  height: 100%;*/
/*}*/

/*body {*/
/*  margin: 0;              !* Enlèvement de la marge par défaut *!*/
/*}*/

/*canvas {*/
/*  background-color: red;*/
/*}*/


html, body {
  height: 100%;
}

body {
  margin: 0; /* Enlèvement de la marge par défaut */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: transparent;
  display: block;
}

#fenetre {
  position: absolute;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border: 3px darkred solid;
  font: 36px 'Share Tech Mono', sans-serif;
  color: darkred;
  /*display: none;*/
}

#fenetre input {
  width: 100%;
  font: 36px 'Share Tech Mono', sans-serif;
  display: block;
  margin-bottom: 30px;
}

button {
  background-color: darkred;
  font: 36px 'Share Tech Mono', sans-serif;
  border: none;
  width: 50%;
  cursor: pointer;
}

th,td{
  padding: 0 10px;
  text-align: center;
}

table{
  padding: 15px;
  background-color: black;
  border: 3px darkred solid;
  color: darkred;
  position: absolute;
  margin: 0 auto;

  font: 36px 'Share Tech Mono', sans-serif;

}












